.card-tiki {
    text-decoration: none;
    margin: 30px 0px;
    // &:hover {
    //     text-decoration: none;
    //     .card {
    //         .card-img-top {
    //             opacity: 0.7;
    //         }
    //         .card-body {
    //             .card-title {
    //                 opacity: 0;
    //             }
    //             .gia-hover {
    //                 opacity: 0;
    //             }
    //             button {
    //                 transform: translateX(50%) translateY(50%);
    //                 opacity: 1;
    //                 top: 0;
    //             }
    //         }
    //     }
    // }
    &:hover {
        .card {
            transition: 0.5s all;
            .hinhAnh {
                .card-img-top {
                    transform: scale(1.25);
                    transition: 0.9s all;
                }
                .card-body {
                    opacity: 0;
                    .card-title {
                        text-decoration: none;
                        transition: 0.7s all;
                    }
                    .card-text {
                        text-decoration: none;
                        transition: 0.7s all;
                    }
                    .gia-hover {
                        transition: 0.5s all;
                        text-decoration: none;
                    }
                    .bottom {
                        transition: 0.7s all;
                        text-decoration: none;
                    }
                }
                .bg {
                    opacity: 1;
                    transition: 0.5s all;
                }
                .button {
                    transform-origin: center right;
                    z-index: 10;
                    left: 50%;
                    transform: translateY(-10%) translateX(-50%);
                    transition: 0.9s all;
                    bottom: 10%;
                    .center {
                        .detail {
                            opacity: 1;
                        }
                        .muaVe {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .hinhAnh {
        position: relative;
        overflow: hidden;

        .card-img-top {
            transition: 0.9s all;
        }
        .bg {
            background: linear-gradient(to top, #3ea4ce, transparent 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s all;
        }
        .button {
            position: relative;
            &:after {
                position: absolute;
            }
            transform-origin: center left;
            position: absolute;
            bottom: -25%;
            left: -50%;
            transform: translateX(0);
            transition: 0.9s all;
            .center {
                margin-bottom: 20px;
                .detail {
                    @include buttonPhim();

                    border: 1px solid white;
                }
                .muaVe {
                    @include buttonPhim();

                    background: #000000;
                    border: beige;
                }
            }
        }
    }
    .card {
        height: 325px;
        transition: 0.5s all;
        .hinhAnh {
            .card-img-top {
                transition: 2s all;
                opacity: 1;
                padding: 10px;
            }
            .card-body {
                margin-bottom: 10px;
                padding-bottom: 5px;
                padding-top: 0px;
                .card-title {
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;

                    overflow: hidden;

                    text-decoration: none;
                    margin: 0px;
                    margin-bottom: 10px;
                    margin-top: 5px;
                }
                .gia-hover {
                    transition: 0.5s all;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .giamGia {
                    position: absolute;
                    text-decoration: none;
                    top: 15px;
                    left: 25px;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    padding-bottom: 4px;
                    color: rgb(255, 255, 255);
                    font-weight: 500;
                    width: 40px;
                    height: 36px;
                    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/product/deal-tag.png);
                    background-size: 40px 36px;
                    margin: 1px 0px 0px;
                    z-index: 11;
                    background-position: 0px 0px;
                }
                .new {
                    position: absolute;
                    top: 15px;
                    right: 25px;
                    z-index: 11;
                }
                .price {
                    display: flex;
                
                    .sellPrice {
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        color: rgb(120, 120, 120);
                        font-size: 13px;
                        font-weight: 300;
                        text-decoration: line-through;
                        margin: 0;
                        margin-left: 10px;
                    }
                    .gia-hover {
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        opacity: 1;
                        font-size: 1rem;
                        margin-bottom: 0px;
                    }
                }

                button {
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    transition: 0.5s all;
                }
                .bottom {
                    .sellTime {
                        .sell {
                            display: flex;
                            align-self: stretch;
                            margin-top: 12px;
                            .time {
                                color: rgb(36, 36, 36);
                                font-size: 12px;
                                font-weight: 300;
                                line-height: 18px;
                                margin: 0px;
                            }
                            .products {
                                position: relative;
                                height: 18px;
                                background-color: rgb(253, 218, 200);
                                flex: 1 1 0%;
                                border-radius: 9px;
                                overflow: hidden;
                                .width-sell {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 0px;
                                    height: 100%;
                                    background-color: rgb(253, 110, 35);
                                    z-index: 1;
                                }
                                .content-sell {
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    display: flex;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 2;
                                    padding: 0px 4px;
                                    span {
                                        margin-bottom: 1px;
                                        filter: brightness(0) invert(100%);
                                    }
                                    .text {
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        display: flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        width: 100%;
                                        height: 100%;
                                        color: rgb(255, 255, 255);
                                        font-size: 12px;
                                        text-align: center;
                                        margin: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.card-phim {
    &:hover {
        .card {
            .hinhAnh {
                .bg {
                    opacity: 1;
                }
                .button {
                    z-index: 10;
                    .center {
                        .detail {
                            opacity: 1;
                        }
                        .muaVe {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .card {
        .hinhAnh {
            position: relative;
            .bg {
                background: linear-gradient(to top, #0a2029, transparent 100%);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: 0.5s all;
            }
            .button {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                .center {
                    margin-bottom: 20px;
                    .detail {
                        @include buttonPhim();

                        border: 1px solid white;
                    }
                    .muaVe {
                        @include buttonPhim();

                        background: rgb(33, 146, 88);
                    }
                }
            }
        }
    }
}
