.header {
    @include desktop-large {
    }
    @include desktop-medium{
        .headerMid {
            width: 80% !important;
        }
        .headerBottom {
            width: 80% !important;
        }
    }
 
    @include desktop {
       
        .headerMid {
            width: 90% !important;
            margin: 0px;
            .midLeft {
                .logo {
                    margin: 0;
                    padding: 0px;
                    padding-left: 20px;
                }
                .form-sreach {
                    margin: 0px !important;
                    padding: 0px;

                    .form-test {
                        .test {
                            span {
                                display: none;
                            }
                        }
                    }
                }
                .header-link {
                    margin: 0px !important;
                    .item {
                        padding: 2px 5px 0px 0px !important ;
                    }
                    .designButton {
                        padding: 0px !important;
                    }
                }
            }
        }
        .headerBottom {
            width: 90% !important;
            margin: 0px;
            .menu {
                flex: 0 0 16%;
                max-width: 16%;
                .btn {
                    padding: 0px;
                    background-color: none;
                    border-color: none;
                }
            }
            .viTri {
                display: block;
      
            }
            .sanPhamDaXem {
          
            }
            // .iconeMenu {
            //     display: block !important ;
            // }
            .link {
        
            }
        }
    }
    @include tablet {
        margin: 0px;
        .headerMid {
            width: 100% !important;
            margin: 0px;
            .midLeft {
                .logo {
                    margin: 0;
                    padding: 0px;
                    padding-left: 20px;
                }
                .form-sreach {
                    margin: 0px !important;
                    padding: 0px;

                    .form-test {
                        .test {
                            span {
                                display: none;
                            }
                        }
                    }
                }
                .header-link {
                    margin: 0px !important;
                    .item {
                        padding: 2px 5px 0px 0px !important ;
                    }
                    .designButton {
                        padding: 0px !important;
                    }
                }
            }
        }
        .headerBottom {
            width: 100% !important;
            margin: 0px;
            .menu {
     
                .btn {
                    padding: 0px;
                }
            }
            .viTri {
                display: block;
        
            }
            .sanPhamDaXem {
     
            }
            // .iconeMenu {
            //     display: block !important ;
            // }
            .link {
       
            }
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: $bg-header;
    .headerTop {
        background: $bg-header-top;
        .text-HeaderTop {
            display: flex;
            height: 100%;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: end;
            justify-content: flex-end;
            a {
                font-size: 12px;
                color: rgb(255, 255, 255);
                font-weight: 300;
                line-height: 26px;
                display: inline-flex;
                letter-spacing: 0.5px;
                -webkit-box-align: center;
                align-items: center;
                margin: 0px 0px 0px 25px;
                text-decoration: none;
                .tiki {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .headerMid {
        width: 70%;
        margin: auto;
        height: 100%;
        display: flex;
        position: relative;
        z-index: 2;
        padding: 9px 0px 16px;

        .midLeft {
            padding: 10px 0px 0px;
            justify-content: center;
            .div {
                margin-top: 11px;
            }
            display: flex;
            flex: 1 1 0%;
            .logo {
                background: none;
                margin: 0px;
                padding: 0px;
            }
            .form-sreach {
                margin: 0px;
                margin-top: 0px !important ;
                flex: 1 1 0%;
                .form-test {
                    width: 100%;
                    display: flex;

                    position: relative;
                    box-shadow: rgba(98, 98, 98, 0.5) 0px 1px 2px 0px;
                    .input-test {
                        font-size: 13px;
                        border-width: 0px;
                        border-style: initial;
                        border-color: initial;
                        border-image: initial;
                        padding: 0px 8px;
                        border-radius: 4px 0px 0px 4px;
                        flex: 1 1 0%;
                        outline: none;
                    }
                    .test {
                        cursor: pointer;
                        height: 40px;
                        color: rgb(74, 74, 74);
                        font-size: 14px;
                        font-weight: 400;
                        border-width: 0px;
                        border-style: initial;
                        border-color: initial;
                        border-image: initial;
                        line-height: 40px;
                        padding: 0px 11px 0px 15px;
                        background: rgb(237, 238, 242);
                        border-radius: 0px 4px 4px 0px;
                        outline: none;
                    }
                }
            }
            .header-link {
                display: flex;
                margin: 0px !important;
                justify-content: space-between;
                .designButton {
                    border: none;
                    background: none;
                    font-size: 12px;
                    padding-top: 0;
                }
                float: right;
                position: relative;
                .item {
                    color: #fff;
                    font-size: 12px;
                    padding: 0px 0 0 10px;
                    position: relative;
                    vertical-align: top;
                    font-weight: 400;
                    display: inline-block;
                    letter-spacing: 0.9px;
                }
                .login {
                    p {
                        margin: 0px;
                        color: #fff;
                        font-weight: 400;
                        line-height: 18px;
                        font-size: 12px;
                        small {
                            font-size: 11px;
                            font-weight: 300;
                        }
                    }
                    .dropdown-menu {
                        .view {
                            font-size: 11px;
                            padding-left: 33px;
                        }
                    }
                }
                .header-cart {
                    display: inline-block;
                    margin-left: 0px;
                    .item {
                        border: 2px solid #fff;
                        border-radius: 4px;
                        margin-left: 0;
                        padding: 5px;
                        letter-spacing: 0.7px;
                        font-weight: 400;
                        font-size: 13px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        vertical-align: middle;
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .headerBottom {
        width: 70%;
        margin: auto;
        padding-bottom: 10px;
        .row{
            justify-content: space-between;
            .menu {
          
                padding: 0;
                button {
                    font-size: 13px;
                    padding: 0;
                }
                .showMenu {
                    position: absolute;
                    left: 0;
                    top: 50px;
                    z-index: 1000;
                    background: #fff;
    
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    
                    .hover {
                        background: white;
                        position: relative;
                        height: 35px;
                        &:hover {
                            background-color: #eceff1 !important;
                            //    .showMenu{
                            //        .menuRight{
                            //         display: block;
                            //     }
    
                            &::after {
                                margin-right: 4px;
                                color: $bg-header;
                                font-size: 16px;
                                float: right;
                                content: ">";
                                font-style: normal;
                            }
                        }
                    }
                    .menuRight {
                        display: block;
                        position: absolute;
                        left: 300px;
                        width: 300px;
                        padding: 8px 0 12px;
                        top: 0;
                        list-style: none;
                        background: #fff;
                        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
                    }
                }
            }
            .iconeMenu {
                display: none;
            }
            .viTri {
               
                margin-top: 5px;
                padding: 0;
                .viTriGiaoHang {
                    line-height: 2px;
                    font-size: 13px;
                    background: none;
                    border: none;
                    .fa-map-marker {
                        width: 24px;
                        height: 24px;
                        margin-left: 10px;
                    }
                    span {
                        color: white;
                    }
                }
                #giaoHang {
                    .modal-dialog {
                        .modal-content {
                            .modal-body {
                                .button-sign {
                                    .text_sign {
                                        @include text-sign($position, $mg-6, $mg-3, $txt-center);
                                        align-self: stretch;
                                        &::before {
                                            content: "";
                                            @include text-before($position-1, $border-2);
                                            @include hoverCard($width-auto);
                                            z-index: 0;
                                            top: 9px;
                                        }
                                        p {
                                            @include text_sign-title($fs-1, $mg-3, $pd-5, $pd-2, $bg-button);
                                            z-index: 2;
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    .check-sign_form {
                        padding-bottom: $pd-4;
                    }
    
                    .form-sign_in {
                        label {
                            @include text($color-black-0, $font-size-3, $font-weight-2);
                        }
                    }
    
                    .form-sign_btn {
                        display: $display-1;
                        text-align: $txt-center;
                    }
    
                    @include mediaQuery("medium") {
                        .form-sign_in {
                            .form-group {
                                margin-bottom: $mg-1;
                            }
                        }
                    }
                }
            }
            .sanPhamDaXem {
               
                font-size: 13px;
                padding-left: 15px;
                padding-top: 3px;
                .ant-btn {
                    background: none;
                    border: none;
                    color: white;
                    padding: 0;
                    line-height: 2px;
                    font-size: 13px;
                    span {
                        padding: 0;
                    }
                }
            }
            .link {
                line-height: 32px;
                display: flex;
                justify-content: space-between;
                padding: 0;
                a {
                    font-size: 13px;
    
                    color: white;
                    padding-left: 10px;
                }
                img {
                    display: inline-block;
                    margin-right: 2px;
                    width: 62px;
                    height: 28px;
                }
            }
        }
    }
}
///////////////////// Sản phảm đã xem //////////////////@at-root
.ant-popover {
    width: 70%;
    .ant-popover-content {
        .ant-popover-arrow {
        }
        .ant-popover-inner {
            .ant-popover-title {
                text-align: center;
            }
            .ant-popover-inner-content {
                text-align: center;

                .row {
                    .viewSanPham {
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 14px;
                        line-height: 1.43;
                    }
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #696969;
    opacity: 0.7;
    width: 5px;
    border-radius: 10px;
    cursor: -webkit-grab;
    cursor: grab;
    z-index: 100;
    transition: 0.3s width;
    -webkit-transition: 0.3s width;
    -o-transition: 0.3s width;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    width: 10px;
    transition: 0.3s opacity;
    -webkit-transition: 0.3s opacity;
}
